.header {
  background-color: var(--lc-background);
  color: var(--lc-title);
  width: 100%;
  height: clamp(5rem, 10%, 60rem);
  display: flex;
  align-items: center;
  justify-content: start;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: clamp(1rem, 2.29%, 5rem);
  height: clamp(2rem, 37%, 40rem);
  font-size: clamp(1.8rem, 50%, 30rem);
  cursor: pointer;
  transition: color 0.3s ease 0.1s;
  transition: transform 0.3s ease 0.1s;
}

.title:hover {
  color: #fcc1c1;
  transform: scale(1.1);

}

@media (min-width: 3000px) {
  .header {
    width: 100%;
    height: clamp(5rem, 10%, 60rem);
  }

  .title {
    margin-left: clamp(1rem, 16.6%, 90rem);
    height: clamp(2rem, 4vw, 40rem);
    font-size: clamp(1.8rem, 1.8vw, 30rem);
    ;
  }
}