.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--lc-main);
}

.body {
  padding-top: clamp(5rem, 3.2%, 50rem);
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-direction: row;
}